<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
        <bean id="brickBean"
        class="com.example.demo.Brick">
                </bean>
        <bean id="logBean"
              class="com.example.demo.Log">
        </bean>

        <bean id="windowsBean"
  class="com.example.demo.WoodFrameWindow">
        </bean>
        <bean id="houseBean"
  class="com.example.demo.House">
                <constructor-arg ref="windowsBean"/>
                <constructor-arg value="7"/>
                <property name="wall" ref="logBean"/>
        </bean>

        </beans>
